@media (max-width: 768px){
    .holder{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .container{
        margin: 0;
    }

    .wws-img{
        display: none;
    }

    .sc-holder{
        padding: 15px 15px;
    }
}