@media (max-width: 768px){
    .hero-content > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 5%;
    }

    .hero-title{
        font-size: x-large;
    }

    .hero-text{
        font-size: small;
        color: black;
    }

    .under-text{
        display: none;
    }

    .over-text{
        display: block;
        color: black;
    }
}